html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  canvas {
    display: block;
  }
  /* #intButton:hover {
    background-color: black;
  }
  #intButton:hover {
    background-color: black;
  } */
  /* button:hover {
    background-color: black;
  }
  button:active {
    background-color: black;
  } */